<% include _layouts/header %>

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card card-signin flex-row my-5">
        <div class="card-img-left1 d-none d-md-flex">
          <!-- Background image for card set in CSS! -->
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">
            <%= title %>
          </h5>
          <form class="form-signin" method="POST" action="/cart/sendemail">

            <div class="form-label-group">
              <input type="email" name="email" class="form-control" value=<%= user.email%> required>
              <!-- <label for="email">Email address</label> -->

            </div>
            <div class="form-label-group">
              <input type="text" name="username" class="form-control" value=<%= user.username%> required autofocus>
              <!-- <label for="username">Username</label> -->
            </div>

            <div class="form-label-group">
              <input type="textarea" name="addr" class="form-control" placeholder="Enter Location to deliver" required>
              <!-- <label for="password">Password</label> -->
            </div>

            <div class="form-label-group">
              <input type="tel" name="phno" class="form-control" value=<%= user.phno%> required>
              <!-- <label for="password2">Confirm password</label> -->
            </div>

            <% if(typeof cart !== 'undefined') { %>

            <% var total = 0; %>
            <% cart.forEach(function(product) { %>
            <% var sub = parseFloat(product.qty * product.price).toFixed(2)  %>
            <% total += +sub %>
          <% }); %>
          <% } %>

          <% var num = 0; %>
          <% cart.forEach(function(p) { %>
          <% num++ %>
            <div class="form-label-group">


            <h6><strong>Item <strong></h6>
              <input type="text" disabled="disabled" class="form-control" name="item_name_<%= num %>" value="<%= p.title %>">
              <!-- <label for="password2">Confirm password</label> -->

          </div>

<label>Quantity</label>
            <div class="form-label-group">
              <input type="text" disabled="disabled" class="form-control" name="quantity_<%= num %>" value="<%= p.qty %>">
              <!-- <label for="password2">Confirm password</label> -->
            </div>

            <% }); %>
          <h3>  <strong>Total</strong> </h3>

            <div class="form-label-group">
              <input type="text" disabled="disabled"  class="form-control" name="amount" value="<%= total %>">
              <!-- <label for="password2">Confirm password</label> -->
            </div>

            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">
              <%= title %></button>
            <a class="d-block text-center mt-2 small" href="/cart/checkout">Go back</a>
            <hr class="my-4">

          <!--  <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i>
              Sign up with Google</button>
            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i>
              Sign up with Facebook</button>
-->

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<% include _layouts/footer %>
